![alt text](http://i1352.photobucket.com/albums/q655/thedeskgeek/python-logo-master-v3-TMcopy_zpsc29570ab.png)

Welcome to python. Developed in 1995 by GVR https://en.wikipedia.org/wiki/Guido_van_Rossum. GVR is a Dutch programmer who is best known as the author of the Python programming language. In the Python community, Van Rossum is known as a "Benevolent Dictator For Life" (BDFL), meaning that he continues to oversee the Python development process, making decisions where necessary.
![alt text](http://izquotes.com/quotes-pictures/quote-i-have-this-hope-that-there-is-a-better-way-higher-level-tools-that-actually-let-you-see-the-guido-van-rossum-158669.jpg)
* * *
Python is a widely used high-level, general-purpose, interpreted, dynamic programming language. Its design philosophy emphasizes code readability, and its syntax allows programmers to express concepts in fewer lines of code than would be possible in languages such as C++ or Java. The language provides constructs intended to enable clear programs on both a small and large scale.
In 1999, Van Rossum submitted a funding proposal to DARPA called Computer Programming for Everybody, in which he further defined his goals for Python:
* an easy and intuitive language just as powerful as major competitors
* open source, so anyone can contribute to its development
* code that is as understandable as plain English
* suitability for everyday tasks, allowing for short development times
* * *
* High Level -> Brief/Readable
* General Purpose -> not C not R not Matlab. Web, backend, data, science, GUI ++
* Interpreted -> Slow?
* Dynamically typed -> runtime + easy
* Multi paradigm -> functional + OO
* Librariessss

* * *
## Foreword
**Ask questions. Heckle. Programming is one of the hardest trades to learn and to master (still not sure that it is masterable). Its a very humbling practice, don't be shy.**

# 1. Lets get Started
##### 1.1 numbers
##### 1.2 strings
##### 1.3 lists
##### 1.4 boolean
##### 1.5 tuples
##### 1.6 control flow
##### 1.7 loops
# 2. Methods / Functions
##### 3.1 Built int
##### 3.2 Do it yourself!
##### 3.3 oneliners
# 3. File Operations
# 4. Object Orientation
# 5. Libraries
* * *

### 1.1 NUMBERS

In [2]:
# addition (talk about assignment)
a = 15
a + 3

18

In [3]:
# substraction
a - 40

-25

In [4]:
# integer division
a/3

5

In [5]:
# imperfect integer division
a/4

3

In [6]:
# floating point division
a/4.0

3.75

In [7]:
# power
4**0.5

2.0

In [8]:
# more power
2**3

8

In [9]:
# PEMDAS
(2+10) * (10+3)

156

In [12]:
# example
quebecSalary = 50000
quebecTaxRate = .35
canadaTaxRate = .40

taxAmount = quebecSalary* (quebecTaxRate + canadaTaxRate)
realSalary = quebecSalary - taxAmount
reasSalary

12500.0

### 1.2 STRINGS

In [16]:
print "Hello World"

Hello World

In [17]:
'Hello single quotes!!'

'Hello single quotes!!'

In [3]:
myString = "Hello World"

In [4]:
# string indexing
print myString[3]
print myString[:6]
print myString[2:12]
print myString[7:]
print myString[-1]
print myString[::-1]
print myString[::2]

#>>> seq[:]                # [seq[0],   seq[1],          ..., seq[-1]    ]
#>>> seq[low:]             # [seq[low], seq[low+1],      ..., seq[-1]    ]
#>>> seq[:high]            # [seq[0],   seq[1],          ..., seq[high-1]]
#>>> seq[low:high]         # [seq[low], seq[low+1],      ..., seq[high-1]]
#>>> seq[::stride]         # [seq[0],   seq[stride],     ..., seq[-1]    ]
#>>> seq[low::stride]      # [seq[low], seq[low+stride], ..., seq[-1]    ]
#>>> seq[:high:stride]     # [seq[0],   seq[stride],     ..., seq[high-1]]
#>>> seq[low:high:stride]  # [seq[low], seq[low+stride], ..., seq[high-1]]

l
Hello
llo World
orld
d
dlroW olleH
HloWrd

In [5]:
s = "Hello POtato"
print 'Place another string with a mod and s: %s' %(s)
print 'Floating point numbers: %1.2f' %(13.144)
print 'Floating point numbers: %25.2f' %(13.144)
print 'This is a string with an {p}'.format(p='insert')
print 'Here is a number: %r. Here is a string: %r' %(123.1,'hi')
print 'Object 1: {a}, Object 2: {b}, Object 3: {c}'.format(a=1,b='two',c=12.3)

Place another string with a mod and s: Hello POtato
Floating point numbers: 13.14
Floating point numbers:                     13.14
This is a string with an insert
Here is a number: 123.1. Here is a string: 'hi'
Object 1: 1, Object 2: two, Object 3: 12.3

In [38]:
# operable
"hello" * 10

'hellohellohellohellohellohellohellohellohellohello'

In [39]:
# built in functions

In [40]:
testString = "tESTing one two!"

In [41]:
testString.upper()

'TESTING ONE TWO!'

In [42]:
testString.capitalize()

'Testing one two!'

In [43]:
testString.lower()

'testing one two!'

In [44]:
# try different splitters
testString.split(" ")

['tESTing', 'one', 'two!']

In [122]:
name = raw_input('What is your name? ')
print "Your name is " + name

What is your name? Nick
Your name is Nick

### 1.3 LISTS

In [14]:
# regular list
mylist = [3,4,6,6]
mylist

[3, 4, 6, 6]

In [15]:
# funky list
flist = ["hello", 3, 4.43, False, 3, 'V']
flist

['hello', 3, 4.43, False, 3, 'V']

In [51]:
mylist = [1,2,3,4,5]
mylist.append(10)
mylist + mylist

[1, 2, 3, 4, 5, 10, 1, 2, 3, 4, 5, 10]

In [52]:
# re-pop, this happens in place
p1 = mylist.pop()
p2 = mylist.pop()
print p1,p2

10 5

In [22]:
# list from string
liststring = "hello potato"
list(liststring)

['h', 'e', 'l', 'l', 'o', ' ', 'p', 'o', 't', 'a', 't', 'o']

In [26]:
# lists are mutable
mutable = list(liststring)
mutable[1] = 'K'
mutable

['h', 'K', 'l', 'l', 'o', ' ', 'p', 'o', 't', 'a', 't', 'o']

In [27]:
liststring[0] = 'K'

TypeError: 'str' object does not support item assignment

In [103]:
mylist = [5,6,4,3,2,1,7,8,9,9,9]
len(mylist)

11

In [67]:
mylist.reverse()
print(mylist)

[9, 9, 9, 8, 7, 1, 2, 3, 4, 6, 5]

In [68]:
mylist.sort()
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9]

In [69]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [70]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [71]:
# don't worry this will make sense after!
first_col = [row[0] for row in matrix]
first_col

[1, 4, 7]

### 1.4 Boolean

In [75]:
a = True
a

True

In [76]:
b = False
b

False

In [81]:
not b

True

In [74]:
# comparison operators
c = 1 > 2
c

False

In [77]:
1 == 1.0

True

In [78]:
# and --> (1 < 2) and (90 == 2*45)
1 < 2 and 90 == 2*45

True

In [80]:
1000 == 0.1 or not False

True

In [82]:
True and False or True

True

### 1.5 Tuple

In [83]:
t1 = (1,2,3)
t2 = (9)
t3 = (10,20)
print t1,t2,t3

(1, 2, 3) 9 (10, 20)

In [84]:
t1[0]

1

In [85]:
t1[2]

3

In [86]:
# tuples are immutable!
t1[0] = 4

TypeError: 'tuple' object does not support item assignment

In [91]:
t1.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [88]:
t4 = ('one', 2, False)
t4

('one', 2, False)

In [89]:
t4.index(False)

2

In [90]:
t5 = (1,1,2,2,2)
t5.count(2)

3

### 1.6 Control Flow

In [92]:
# think about indentation!
a = 10
if a > 5:
    print "Ten is larger than 5"

Ten is larger than 5

In [95]:
yourAge = 18

if yourAge > 16:
    print "You can drive!"
else:
    print "nope, sorry kiddo!"

You can drive!

In [99]:
yourMoney = 150000

if yourMoney >= 100000:
    print "you can buy ferrari"
elif yourMoney >= 30000:
    print "honda..."
else:
    print "used car :("

you can buy ferrari

In [100]:
yourName = "Michael"
yourFamName = "Jordan"

if yourName == "Michael":
    
    if yourFamName == "Jackson":
        print "music"
    else:
        print "no music"
        
    if yourFamName == "Jordan":
        print "basketball"
    else:
        print "no basketball"
        
else:
    
    print "not a michael"

no music
basketball

In [101]:
if yourName == "Michael" and yourFamName == "Jackson":
    print "music"
elif yourName == "Michael" and yourFamName == "Jordan":
    print "basketball"
else:
    print "neither"

basketball

In [3]:
age = 40
bornIn = "USA"
hairColor = "Orange"

credentials = [age > 35, bornIn == "USA", hairColor == "Brown"]
all(credentials)

True

In [4]:
haveAPlaystation2 = True
haveACuteSister = False

friendStats = [haveAPlaystation2, haveACuteSister]

any(friendStats)

True

### 1.7 Loops

In [102]:
numberList = [3,4,5,6,54,3,2,3]

total = 0

for number in numberList:
    total += number

print total
print total/len(numberList)

80
10

In [104]:
for i in range(0,10):
    print i

0
1
2
3
4
5
6
7
8
9

In [108]:
print 10%4
print 11%10
print 3%13

2
1
3

In [119]:
evens1 = []
for i in range(10,17):
    if i % 2 == 0:
        evens1.append(i)
evens1

[10, 12, 14, 16]

In [6]:
#This program calculates the Fibonacci sequence
a = 0
b = 1
count = 0
max_count = 20
while count < max_count:
    count = count + 1
    #we need to keep track of a since we change it
    old_a = a
    old_b = b
    a = old_b
    b = old_a + old_b
    #Notice that the , at the end of a print statement keeps it
    # from switching to a new line
    print (old_a),

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

In [8]:
password = ""
while password != "unicorn":
    password = raw_input("Password: ")
print ("Welcome in")

Password: hello
Password: sdf
Password: fs
Password: unicorn
Welcome in

In [120]:
evens2 = [ x for x in range(10,17) if x%2 == 0]
evens2

[10, 12, 14, 16]

In [114]:
for i in "potatos":
    print i

p
o
t
a
t
o
s

In [112]:
# dictionaries

mydict = {"apple" : 799.99,
         "samsung" : 749.99,
         "nexus" : 299.99,
         "nokia" : 0.99}

for key,value in mydict.iteritems():
    print "A " + key + " phone costs " + str(value)

A nexus phone costs 299.99
A nokia phone costs 0.99
A apple phone costs 799.99
A samsung phone costs 749.99

# classwork time!