![alt text](http://i1352.photobucket.com/albums/q655/thedeskgeek/python-logo-master-v3-TMcopy_zpsc29570ab.png)
* code : https://github.com/nrkfeller
* * *
Welcome to python. GENERAL PURPOSE programming language. Developed in 1995 by GVR https://en.wikipedia.org/wiki/Guido_van_Rossum. GVR is a Dutch programmer who is best known as the author of the Python programming language. In the Python community, Van Rossum is known as a "Benevolent Dictator For Life" (BDFL), meaning that he continues to oversee the Python development process, making decisions where necessary.
![alt text](http://izquotes.com/quotes-pictures/quote-i-have-this-hope-that-there-is-a-better-way-higher-level-tools-that-actually-let-you-see-the-guido-van-rossum-158669.jpg)
Why work with HL tools? -> Carl Sagan
* * *
Python is a widely used high-level, general-purpose, interpreted, dynamic programming language. Its design philosophy emphasizes code readability, and its syntax allows programmers to express concepts in fewer lines of code than would be possible in languages such as C++ or Java. The language provides constructs intended to enable clear programs on both a small and large scale.
In 1999, Van Rossum submitted a funding proposal to DARPA called Computer Programming for Everybody, in which he further defined his goals for Python:
* an easy and intuitive language just as powerful as major competitors
* open source, so anyone can contribute to its development
* code that is as understandable as plain English
* suitability for everyday tasks, allowing for short development times
* * *
* High Level -> Brief/Readable
* General Purpose -> not C not R not Matlab. Web, backend, data, science, GUI ++
* Interpreted -> Slow?
* Dynamically typed -> runtime + easy
* Multi paradigm -> functional + OO
* Librariessss

* * *
## Foreword
**Ask questions. Heckle. Programming is one of the hardest trades to learn and to master (still not sure that it is masterable). Its a very humbling practice, don't be shy. If you need a break let me know**

**This is about python and data analytics in general, not specifically bioinformatics. Because we have to start somewhere**

# 1. Lets get Started
##### 1.1 numbers
##### 1.2 strings
##### 1.3 lists
##### 1.4 boolean
##### 1.5 tuples
##### 1.6 control flow
##### 1.7 loops
# 2. Methods / Functions
##### 3.1 Built int
##### 3.2 Do it yourself!
##### 3.3 oneliners
# 3. File Operations
# 4. Object Orientation
# 5. Libraries
* * *

### 1.1 NUMBERS

In [5]:
# addition (talk about assignment - sequential - re-assignment)
a = 42
a = a + 3

In [6]:
# substraction
a - 40

5

In [7]:
# integer division
a/3

15

In [8]:
# imperfect integer division
a/4

11

In [11]:
# floating point division (talk about float/int/long and memory)
type(a)

int

In [14]:
# casting
a= float(a)
type(a)

float

In [15]:
a/float(4)

11.25

In [17]:
# power
16**0.5

4.0

In [19]:
# more power
2**35

34359738368

In [9]:
# PEMDAS
(2+10) * (10+3)

156

In [26]:
# example
quebecSalary = 256000
quebecTaxRate = .35
canadaTaxRate = .40

taxAmount = quebecSalary * (quebecTaxRate + canadaTaxRate)
realSalary = quebecSalary - taxAmount

realSalary
print quebecSalary

256000

### 1.2 STRINGS

In [31]:
# you can print things. Ipython - debug
print 'oclock World'

oclock World

In [32]:
'Hello single quotes!!'

'Hello single quotes!!'

In [60]:
myString = "Hello World"

In [1]:
# string indexing
#print myString[12]
#print myString[:6]
#print myString[2:12]
#print myString[7:]
#print myString[-1]
#myString = myString[::-1]
print myString[1:8:3]

#>>> seq[:]                # [seq[0],   seq[1],          ..., seq[-1]    ]
#>>> seq[low:]             # [seq[low], seq[low+1],      ..., seq[-1]    ]
#>>> seq[:high]            # [seq[0],   seq[1],          ..., seq[high-1]]
#>>> seq[low:high]         # [seq[low], seq[low+1],      ..., seq[high-1]]
#>>> seq[::stride]         # [seq[0],   seq[stride],     ..., seq[-1]    ]
#>>> seq[low::stride]      # [seq[low], seq[low+stride], ..., seq[-1]    ]
#>>> seq[:high:stride]     # [seq[0],   seq[stride],     ..., seq[high-1]]
#>>> seq[low:high:stride]  # [seq[low], seq[low+stride], ..., seq[high-1]]

NameError: name 'myString' is not defined

In [20]:
tomatostring = "Hello tomato"
potatostring = "potato"
#print 'Place %s another string with a mod and s: %s' %(tomatostring, potatostring)
#print 'Floating point numbers: %1.2f' %(13.144)
#print 'Floating point numbers: %20.5f' %(314534513.1443245)
#print 'This is a string with an {p}'.format(p='insert')
#print 'Here is a number: %r. Here is a string: %r' %(123.1,'hi')
#print 'Object 1: {a}, Object 2: {b}, Object 3: {c}'.format(b='two',c=12.3,a=1)

In [22]:
# operable
"hello " * 10

'hello hello hello hello hello hello hello hello hello hello '

In [39]:
# built in functions

In [24]:
testString = "tESTing one two!"
print testString

tESTing one two!

In [25]:
testString.upper()

'TESTING ONE TWO!'

In [26]:
testString.capitalize()

'Testing one two!'

In [27]:
testString.lower()

'testing one two!'

In [34]:
# try different splitters
testString.split(" ")

['tESTing', 'one', 'two!']

In [31]:
# user input
name = raw_input('What is your name? ')

What is your name? wr

In [40]:
# cast string to float and int!
aNumString = "31415qwed"
int(aNumString) + 2

ValueError: invalid literal for int() with base 10: '31415qwed'

### 1.3 LISTS

In [14]:
# regular list
mylist = [3,4,6,6]
mylist

[3, 4, 6, 6]

In [15]:
# funky list, indexing
flist = ["hello", 3, 4.43, False, 3, 'V']
flist

['hello', 3, 4.43, False, 3, 'V']

In [50]:
mylist = [1,2,3,4,5]
mylist.append('turnip')
mylist

[1, 2, 3, 4, 5, 'turnip']

In [53]:
# re-pop, this happens in place
p1 = mylist.pop()
print p1

4

In [58]:
# list from string
liststring = "hello potato"
liststring= list(liststring)

In [60]:
liststring[0] = 'b'
liststring

['b', 'e', 'l', 'l', 'o', ' ', 'p', 'o', 't', 'a', 't', 'o']

In [61]:
# lists are mutable, and castable!
mutable = list(liststring)
mutable[1] = 'K'
mutable

['b', 'K', 'l', 'l', 'o', ' ', 'p', 'o', 't', 'a', 't', 'o']

In [62]:
liststring[0] = 'K'

In [77]:
mylist = ['a','v','d']
len(mylist)

3

In [69]:
mylist.reverse()
mylist = mylist[::-1]
print(mylist)

[5, 6, 4, 3, 2, 1, 7, 8, 9, 9, 9]

In [80]:
# talk about sorting
mylist.sort()
mylist

['a', 'd', 'v']

In [81]:
# indexing starts at 0!
mylist[0]

'a'

In [83]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [84]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [85]:
# indexing
matrix[1][2]

6

In [86]:
# assign to index
matrix[0][1] = 63

In [89]:
matrix[2]

[7, 8, 9]

In [43]:
# don't worry this will make sense after!
first_col = [row[0] for row in matrix]
first_col

[1, 4, 7]

### 1.4 Boolean

In [90]:
# make sure everyone knows what boolean logic is
a = True
a

True

In [91]:
b = False
b

False

In [81]:
# !
not b

True

In [92]:
# comparison operators
c = 1 > 2
c

False

In [95]:
# reasonable, can compare floats and ints
1 == 1.1

False

In [97]:
True or False

True

In [98]:
# and --> (1 < 2) and (90 == 2*45)
1 < 2 and 90 == 2*45

True

In [100]:
# chaining logic
1000 == 0.1 or not 0 > 9

True

In [101]:
True and False or True and False

False

### 1.5 Tuple

In [112]:
# immutable lists!
mylist = [1,2,3]
t3 = (10,20)
type(mylist)
mylist.

list

In [105]:
t1[0]

1

In [106]:
t1[2]

3

In [107]:
# tuples are immutable!
t1[0] = 4

TypeError: 'tuple' object does not support item assignment

In [108]:
t1.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [109]:
t4 = ('one', 2, False)
t4

('one', 2, False)

In [116]:
# at what index is false?
t4.index('ll')

ValueError: tuple.index(x): x not in tuple

In [119]:
# how many 2's are there
t5 = (1,1,2,2,2,2,2,2)
t5.count(3)
t5.

0

### 1.6 Control Flow

In [125]:
# think about indentation!
a = 0
if a > 5:
    print "something"

In [131]:
yourAge = 20

if yourAge >= 16:
    print "You can drive!"
else:
    print "nope, sorry kiddo!"

You can drive!

In [134]:
yourMoney = 10

if yourMoney >= 100000:
    print "you can buy ferrari"
elif yourMoney >= 5000:
    print "bike"
elif yourMoney >= 30000:
    print "honda..."

In [140]:
# walk through this, change to jackson - then not michael
yourName = "Michael"
yourFamName = "Jackson"

if yourName == "Michael":
    
    if yourFamName == "Jackson":
        print "music"
    else:
        print "no music"
        
    if yourFamName == "Jordan":
        print "basketball"
    else:
        print "no basketball"
        
else:
    
    print "not a michael"

music
no basketball

True

In [145]:
if yourName == "Michael" and yourFamName == "Jackson" or "jordan":
    print "famous"
else:
    print "neither"

famous

In [148]:
age = 69
bornIn = "USA"
hairColor = "Brown"

credentials = [age > 35, bornIn == "USA", hairColor == "Brown"]
if all(credentials):
    print "you can be prez"

you can be prez

In [150]:
haveAPlaystation2 = False
haveACuteSister = False

friendStats = [haveAPlaystation2, haveACuteSister]

if any(friendStats):
    print " you can be my friend"

In [153]:
if "pot" in "potatoes":
    print "pot in potatoes"
else:
    print "No pot :("

pot in potatoes

### 1.7 Loops

In [157]:
numberList = [3,4,5,6,9,3,2,3]

total = 0

for n in numberList:
    total += n

print total
print float(total)/len(numberList)

35
4.375

In [160]:
for i in range(0,10000000):
    print i

0
1
2
3
4
5
6
7
8
9

In [170]:
presidentList = ["trump","clinton","sanders","jon snow", "jill stein"]

In [171]:
# regular for loop, just clean iteration over list
for c in presidentList:
    print c

trump
clinton
sanders
jon snow
jill stein

In [174]:
# range for loop - default to 0... what if I put 2?
for i in range(0,len(presidentList)):
    print presidentList[i]

trump
clinton
sanders
jon snow
jill stein

In [167]:
for index in range(len(presidentList)):
    
    if presidentList[index] == "jon snow":
        print presidentList[index] + " for prez"

jon snow for prez

In [180]:
print 10%4
print 11%10
print 3%20
print 25%8

2
1
3
1

In [179]:
evens1 = []

for i in range(10,20):
    
    if i % 2 == 0:
        evens1.append(i)
        
evens1

[10, 12, 14, 16, 18]

In [183]:
#This program calculates the Fibonacci
a = 0
b = 1
count = 0
max_count = 20
while count < max_count:
    count += 1
    #we need to keep track of a since we change it
    old_a = a
    old_b = b
    a = old_b
    b = old_a + old_b
    #Notice that the , at the end of a print statement keeps it
    # from switching to a new line
    print (old_a),

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

In [ ]:
password = ""

while password != "unicorn":
    password = raw_input("Password: ")
print ("Welcome in")

In [4]:
evens2 = [ x for x in xrange(10,20) if x%2 == 0 ]
evens2

[10, 12, 14, 16, 18]

In [6]:
[ x for x in xrange(10,20) if x%2 == 1 ]

[11, 13, 15, 17, 19]

In [7]:
[ x**2 for x in xrange(10,20) ]

[100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [114]:
for i in "potatos":
    print i

p
o
t
a
t
o
s

In [8]:
phonedict = {'nexus': 399.99,
            "iphone":799.99,
            "nokia":12.99,
            "samsung":749.99}

In [11]:
phonedict

{'iphone': 799.99, 'nexus': 399.99, 'nokia': 12.99, 'samsung': 749.99}

In [24]:
# try with keys() and values()
for key in phonedict.keys():
    print key

nexus
nokia
iphone
samsung

In [25]:
for k,v in phonedict.iteritems():
    print "the keys is " + k + " Values is " + str(v)

the keys is nexus Values is 399.99
the keys is nokia Values is 12.99
the keys is iphone Values is 799.99
the keys is samsung Values is 749.99

## Yay done this notebook, QUESTIONS/REVIEW?